[submodule "bundle/tabularize"]
	path = bundle/tabularize
	url = git@github.com:godlygeek/tabular.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby
[submodule "bundle/jade"]
	path = bundle/jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = git://github.com/kogent/vim-puppet.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-rust"]
	path = bundle/vim-rust
	url = git@github.com:wting/rust.vim.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git@github.com:klen/python-mode.git
