[submodule "bundle/tabularize"]
	path = bundle/tabularize
	url = git@github.com:godlygeek/tabular.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab
[submodule "bundle/jade"]
	path = bundle/jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = git://github.com/kogent/vim-puppet.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround
